{include file="pub/header" /}

<body>
        <nav class="breadcrumb"><i class="icon-home"></i> 客户列表 <a class="btn btn-success radius r mr-20 " id="btn-refresh" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="icon-refresh"></i>刷新</a></nav>
    <article class="page-container">
        <form class="form form-horizontal" id="form-article-add" method="POST" action="{:url('admin/cusfeedback/fbsave')}">
            <div class="row cl">

                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>客户姓名
                                            ：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="{$customer.name}" placeholder="" id="" name="username">
                </div>
            </div>
            <div class="row cl">

                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>回访日期：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" onfocus="selecttime(1)" id="fb_date" name="fb_date" value="" class="input-text Wdate">
                </div>
            </div>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>回访情况：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <textarea name="feedback" cols="" rows="" class="textarea" placeholder="回访情况" dragonfly="true"></textarea>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">下次回访：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" onfocus="selecttime(1)" id="next_date" name="next_date" value="" class="input-text Wdate">
                </div>
            </div>
            <input type="hidden" name="id" value="{$customer.id}">
            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                    <button class="btn btn-primary radius " id="closeIframe" type="submit"><i class="Hui-iconfont">&#xe632;</i> 提交回访</button>
                  
                </div>
            </div>
        </form>
    </article>

    {include file="pub/footer" /}
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
    <script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>
    <script type="text/javascript" src="__STATIC__/lib/webuploader/0.1.5/webuploader.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $('.skin-minimal input').iCheck({
                checkboxClass: 'icheckbox-blue',
                radioClass: 'iradio-blue',
                increaseArea: '20%'
            });

            //表单验证
            $("#form-article-add").validate({
                rules: {
                    handover_date: {
                        required: true,
                    },
                    contract_id: {
                        required: true,
                    },
                    start_date: {
                        required: true,
                    },
                    contract_date: {
                        required: true,
                    },
                    total_value: {
                        required: true,
                    },
                    design_fee: {
                        required: true,
                    },
                    payment_status: {
                        required: true,
                    },


                },
                onkeyup: false,
                focusCleanup: true,
                success: "valid",
                submitHandler: function (form) {
                    var index = parent.layer.getFrameIndex(window.name);
                    $('#closeIframe').click();
                    $('#form-article-add').Submit();
                    parent.layer.close(index);

                }
            });
        });

        //时间选择
        function selecttime(flag) {
            if (flag == 1) {
                var endTime = $("#countTimeend").val();
                if (endTime != "") {
                    WdatePicker({
                        dateFmt: 'yyyy-MM-dd',
                        maxDate: endTime
                    });
                } else {
                    WdatePicker({
                        dateFmt: 'yyyy-MM-dd'
                    });
                }
            } else {
                var startTime = $("#countTimestart").val();
                if (startTime != "") {
                    WdatePicker({
                        dateFmt: 'yyyy-MM-dd',
                        minDate: startTime
                    });
                } else {
                    WdatePicker({
                        dateFmt: 'yyyy-MM-dd'
                    });
                }
            }
        }
    </script>
    <!--/请在上方写此页面业务相关的脚本-->
</body>

</html>