<aside class="Hui-aside">
    <div class="menu_dropdown bk_2">
        <dl id="menu-main">
            <dt><i class="Hui-iconfont">&#xe620;</i> 常用菜单<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="/admin/customer/index" data-title="新客户提交" href="javascript:void(0)">新客户提交</a></li>
                    <li><a data-href="/admin/customerlist/index" data-title="客户列表" href="javascript:void(0)">客户列表</a></li>
                    <li><a data-href="/admin/customeredit/index" data-title="客户编辑/业绩上报" href="javascript:void(0)">客户编辑/业绩上报</a></li>

                    <li><a data-href="/admin/index/feedback.html" data-title="客户回访" href="javascript:void(0)">客户回访</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-tongji">
            <dt><i class="Hui-iconfont">&#xe61a;</i> 系统统计<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="status_designer.html" data-title="设计师状态榜" href="javascript:void(0)">设计师状态榜</a></li>
                    <li><a data-href="status_market.html" data-title="市场部状态榜" href="javascript:void(0)">市场部状态榜</a></li>
                    <li><a data-href="status_designers.html" data-title="设计团队状态榜" href="javascript:void(0)">设计团队状态榜</a></li>
                    <li><a data-href="status_markets.html" data-title="市场团队状态榜" href="javascript:void(0)">市场团队状态榜</a></li>
                    <li><a data-href="status_feedback.html" data-title="设计师回访情况" href="javascript:void(0)">设计师回访情况</a></li>
                    <li><a data-href="status_order.html" data-title="设计师接单情况" href="javascript:void(0)">设计师接单情况</a></li>

                </ul>
            </dd>
        </dl>
        {if condition="$user.department lt 2"}
        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe62d;</i> 用户管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="admin-role.html" data-title="角色管理" href="javascript:void(0)">角色管理</a></li>
                    <li><a data-href="admin-permission.html" data-title="权限管理" href="javascript:void(0)">权限管理</a></li>
                    <li><a data-href="/admin/user/" data-title="用户列表" href="javascript:void(0)">用户列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-system">
            <dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="system-base.html" data-title="系统设置" href="javascript:void(0)">系统设置</a></li>
                    <li><a data-href="system-category.html" data-title="栏目管理" href="javascript:void(0)">栏目管理</a></li>
                    <li><a data-href="system-data.html" data-title="数据字典" href="javascript:void(0)">数据字典</a></li>
                    <li><a data-href="system-shielding.html" data-title="屏蔽词" href="javascript:void(0)">屏蔽词</a></li>
                    <li><a data-href="system-log.html" data-title="系统日志" href="javascript:void(0)">系统日志</a></li>
                </ul>
            </dd>
        </dl>
        {/if}
    </div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>