<!--包含头部文件-->
{include file="pub/header" /}

<body>
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 客户列表 </nav>
    <div class="page-container">
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <div class="text-c">
                <form action="{:url('admin/cuschecked/index')}" method="get">
                     进店日期：
                    <input type="text" name="start_time" class="input-text" id="countTimestart" onfocus="selecttime(1)" value="{$start_time}"
                        style="width:120px;"> -
                    <input type="text" name="end_time" class="input-text" id="countTimesend" onfocus="selecttime(1)" value="{$end_time}" style="width:120px;">
                    <input type="text" name="name" id="" value="{$name}" placeholder=" 客户名称" style="width:250px" class="input-text">
                    <button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜索
                  </button>
                </form>
            </div>
        </div>

        <div class="mt-20">
            <table class="table table-border table-bordered table-bg table-hover table-sort">
                <thead>
                    <tr class="text-c">
                        <th width="30">编号</th>
                        <th width="60">客户姓名</th>
                        <th width="100">进店日期</th>
                        <th width="80">联系方式</th>
                        <th width="150">小区地址</th>
                        <th width="60">楼牌号</th>
                        <th width="80">建筑面积</th>
                        <th width="80">客户级别</th>
                        <th width="200">客户情况</th>
                        <th width="60">设计师</th>
                        <th width="60">提交人</th>
                        <th width="80">渠道来源</th>
                        <th width="100">交房日期</th>
                        <th width="60">合同ID</th>
                        <th width="100">合同日期</th>
                        <th width="100">开工日期</th>
                        <th width="80">合同总值</th>
                        <th width="60">设计费</th>
                        <th width="80">缴费状态</th>
                        <th width="50">状态</th>
                        <th width="150">操作</th>
                    </tr>
                </thead>
                <tbody>
                    {volist name="customer" id="vo"}
                    <tr class="text-c">
                        <td>{$vo.id}</td>
                        <td>{$vo.name}</td>
                        <td>{notempty name="$vo.entry_date"}{$vo.entry_date|date="Y-m-d",###}{/notempty}</td>
                        <td>{$vo.cus_phone}</td>
                        <td>{$vo.cell_address}</td>
                        <td>{$vo.brand}</td>
                        <td>{$vo.floor_space}</td>
                        <td>{$vo.cus_level}</td>
                        <td>{$vo.description}</td>
                        <td>{$vo.designer}</td>
                        <td>{$vo.submitter}</td>
                        <td>{$vo.source}</td>
                        <td>{notempty name="$vo.handover_date"}{$vo.handover_date|date="Y-m-d",###}{/notempty}</td>
                        <td>{notempty name="$vo.contract_id"}{$vo.contract_id}{/notempty}</td>
                        <td>{notempty name="$vo.contract_date"}{$vo.contract_date|date="Y-m-d",###}{/notempty}</td>
                        <td>{notempty name="$vo.handover_date"}{$vo.handover_date|date="Y-m-d",###}{/notempty}</td>
                        <td>{$vo.total_value}</td>
                        <td>{$vo.design_fee}</td>
                        <td>{$vo.payment_status}</td>
                        <td class="td-status">{$vo.status|cus_status}</td>
                        <td class="td-manage"><a style="text-decoration:none" class="ml-5" onClick="gj_s_edit('上报业绩','{:url('cuschecked/report', ['id'=>$vo.id])}')"
                            href="javascript:;" title="上报业绩"><i class="Hui-iconfont">上报业绩</i></a><a style="text-decoration:none" class="ml-5" onClick="gj_edit('客户详情数据','{:url('cusuncheck/detail', ['id'=>$vo.id])}')"
                                href="javascript:;" title="详情"><i class="Hui-iconfont">&#xe667;</i></a> <a style="text-decoration:none"
                                class="ml-5" onClick="gj_del('{:url('cusuncheck/status', ['id'=>$vo.id, 'status'=>-1])}')"
                                href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a> <a style="text-decoration:none"
                                class="ml-5" href="{:url('cusuncheck/status',['id'=>$vo.id, 'status'=>0])}" title="不通过"><i class="Hui-iconfont">&#xe6dd;</i></a></td>
                    </tr>
                    {/volist}

                </tbody>
            </table>
            {:pagination($customer)}
        </div>
       
     
        <!--包含头部文件-->
        {include file="pub/footer" /}